@font-face {
    font-family: 'iconfont';
    /* project id 1024882 */
    src: url('//at.alicdn.com/t/font_1024882_6erux2v7qpl.eot');
    src: url('//at.alicdn.com/t/font_1024882_6erux2v7qpl.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_1024882_6erux2v7qpl.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_1024882_6erux2v7qpl.woff') format('woff'),
        url('//at.alicdn.com/t/font_1024882_6erux2v7qpl.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_1024882_6erux2v7qpl.svg#iconfont') format('svg');
}

.iconfont {
    font-family: 'iconfont'
}

.Btnbox {
    width: 250px;
    height: 80px;
    border: 1px solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center
}

.Btnbox .Btnbox-content {
    width: 230px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}
.Btnbox .Btnbox-content .text {
    font-weight: bold;
}
.box {
    width: 200px;
    height: 200px;
    border: 2px solid gray;
    position: relative;
}

.upleftbtn,
.uprightbtn,
.downleftbtn,
.downrightbtn {
    width: 10px;
    height: 10px;
    border: 1px solid steelblue;
    position: absolute;
    z-index: 5;
    background: whitesmoke;
}

.upleftbtn {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.uprightbtn {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.downleftbtn {
    left: -5px;
    bottom: -5px;
    cursor: sw-resize;
}

.downrightbtn {
    right: -5px;
    bottom: -5px;
    cursor: se-resize;
}