@charset "UTF-8";
html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}
#main{
    padding: 6% 30%;
}
.login{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
    padding: 10% 0;
    width: 730px;
}
.login>div>input{
    border: 1px solid rgb(221,221,221);
    background: rgb(250, 250, 250);
    width: 400px;
    height: 45px;
    border-radius: 5px;
}
.login>div{
    margin: 2% auto;
}
.login>div>p{
    margin-bottom: 0;
    font-size: 20px;
    color: rgb(50, 50, 50);
}
.remember{
    box-sizing: border-box;
    width: 400px;
    border-bottom: 2px solid rgb(221,221,221);
    padding-bottom: 10px;
}
.remember>label{
    cursor: pointer;
    color: rgb(51, 51, 51);
}
.login>button{
    width:400px;
    border: 1px solid rgb(221,221,221);
    border-radius: 5px;
    margin: 1% auto;
    padding: 10px;
    background: white;
    font-size: 18px;
}
.loginbtn{
    border: none !important;
    color: white;
    background: rgb(252,155,42) !important;
}
.forget{
    width: 400px;
    text-align: right;
    margin: 1% auto;
}
.explain{
    width: 450px;
    text-align: left;
    margin: 0 auto;
}
.forget>span{
    cursor: pointer;
}
.explain>p{
    font-size: 15px !important;
}
.verification{
    width: 400px;
}
.verification>span{
    cursor: pointer;
    text-align: center;
    width: 100px;
    letter-spacing: 2px;
    font-size: 18px;
    padding: 10px;
    display: block;
    margin-top: 2%;
    background: rgb(221,221,221);
}