@charset "UTF-8";
html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}
#main{
    padding: 6% 30%;
}
.login{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
    padding: 10% 0;
    width: 730px;
}
.login>div>input{
    border: 1px solid rgb(221,221,221);
    background: rgb(250, 250, 250);
    width: 400px;
    height: 45px;
    border-radius: 5px;
}
.login>div{
    margin: 2% auto;
}
.login>div>p{
    margin-bottom: 0;
    font-size: 20px;
    color: rgb(50, 50, 50);
}
.verification-code-box{
    width: 400px;
}
.verification-code-box>span{
    cursor: pointer;
    display:inline-block;
    background: olive;
    color: white;
    margin-bottom: 1%;
    letter-spacing: 2px;
    padding: 10px 20px;
}
.regist{
    border: none !important;
    color: white;
    background: rgb(252,155,42) !important;
}
.login .form-item:after {
    width: 400px;
    content: attr(data-msg);
    font-size: 12px;
    color: gray;
    letter-spacing: 1px;
    /* 默认隐藏异常提示 */
    display: none;
    margin-top: 5px;
}
.login .form-item.error:after {
    /* 显示异常提示 */
    display: block;
}
.explain{
    width: 450px;
    text-align: left;
    margin: 0 auto;
}
.explain>p{
    font-size: 15px !important;
}