@charset "UTF-8";
.main{
    box-sizing: border-box;
    margin: 5% 0 5% 0 !important;
    padding: 0 12.5% !important;
}
.bill-box>div{
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 2px solid rgb(232, 232, 232)
}
.bill-box .bbilling-address{
    border: none;
}
.bill-box .bbilling-address>input{
    height: 45px;
    border: 1px solid rgb(232, 232, 232);
    margin: 1% 0;
    font-size: 20px;
}
.bill-box .bbilling-address .pcd>select{
    height: 45px !important;
    border: 1px solid rgb(232, 232, 232);
    margin: 1% 0;
    font-size: 20px;
}
.bill-box .bbilling-address>textarea{
    border: 1px solid rgb(232, 232, 232);
    margin: 1% 0;
    font-size: 20px;
}
.text{
    font-size: 18px;
    color: black;
    display: flex;
    justify-content: space-between;
}
.line-item-content{
    height: calc(4 * 105px);
    overflow:scroll;
}
.Trolley-content-img{
    width: 105px;
    height: 105px;
}
.Trolley-content{
    padding: 1% 0;
    margin: 2% auto;
    border-bottom: 1px solid rgb(221, 221, 221);
    display: flex;
}
.Trolley-content-cont{
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.line-item>section{
    font-size: 18px;
}
.line-item>button{
    font-size: 18px;
    color: white;
    margin: 1% 0;
    background: rgb(255, 152, 42);
    padding: 10px 0;
}
.line-item{
    margin: 1% auto;
}